.about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 1.4;
}
.about-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.about-right {
  flex: 1;
  padding: 20px;
}
.about-right p {
  margin: 20px 0;
  letter-spacing: 1px;
}
.about-card {
  width: 60%;
  height: 80vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-card.bg {
  position: absolute;
  top: 40px;
  left: 40px;
  background: #333;
}
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 50px;
    align-items: center;
  }
  .about-left {
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
  }
  .about-card.bg {
    position: absolute;
    top: 30px;
    left: 100px;
    background: #333;
    border-radius: 0%;
  }

  .about-card {
    height: 40vh;
  }
  .about-img {
    border-radius: 0%;
  }

  .about-right p {
    text-align: justify;
  }
}
