.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-title {
  color: #ff006e;
  font-size: 30px;
  font-weight: normal;
}
.intro-text {
  font-size: 30px;
}
.intro-name {
  font-size: 80px;
}
.description {
  width: 40%;
  margin: 0px auto;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.icon {
  margin: 5px 20px;
  font-size: 40px;
  cursor: pointer;
}
.icon a :hover {
  color: #ff006e;
  transition: all 1s ease;
}
button.more {
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 0px;
  padding: 20px 40px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
  }

  .intro-name {
    font-size: 40px;
  }
  /* .description {
    display: none;
  } */
  .icon {
    margin: 0px 10px;
    font-size: 30px;
  }

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
  }
}
