.product {
  height: 300px;
  width: 100%;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  position: relative;
}

img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: #000;
  cursor: pointer;
  z-index: 0;
}
.content {
  position: absolute;
  top: 40%;
  left: 25%;
  transition: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product:hover .overlay {
  opacity: 0.8;
  z-index: 0;
}

.content a {
  text-decoration: none;
  background-color: #ff006e;
  width: 150px;
  padding: 10px 0px;
  border-radius: 6px;
  text-align: center;
  margin: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.content a:hover {
  background-color: #000;
  border: 2px solid #ff006e;
}
/* .product:hover .content {
  z-index: 1;
} */
/* .browser {
  height: 20px;
  background: #b7b7a4;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
} */
/* .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px;
  background-color: #fff;
} */
/* .red {
  background: red;
} */
/* .yellow {
  background: yellow;
}
.green {
  background: green;
} */

/* .p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}



@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }
} */
