.project {
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
}
.project-list {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0rem;
}
.project-text {
  width: 75%;
  margin: 1rem auto;
  text-align: center;
}

img {
  width: 100%;
  transition: all 10s ease;
}
/* .p:hover .p-img {
  transform: translateY(-100%);
} */
/* .right {
  font-size: 10px;
} */
.view-more a {
  color: #ff006e;
  float: right;
}

@media screen and (max-width: 768px) {
  .project-text {
    width: 90%;
    margin: 1rem auto;
  }
  .project-list p {
    text-align: justify;
    padding: 10px;
  }

  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
