.toggle {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid rgba(143, 107, 107, 0.6);
  background-color: rgb(26, 24, 24);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);

  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.toggle-btn {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ff006e;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  position: absolute;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .toggle {
    position: fixed;
    top: 10px;
    margin: 0rem;
  }
}
